<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

{% include '_layouts/head' %}

{# set style and javascript scope, defaults to the section handle, but can be over-written on the template level if the variable is set before extending the layout #}
{% set styleScope = styleScope ?? entry.section.handle %}
{% set javascriptScope = javascriptScope ?? entry.section.handle %}

<body class="{{ styleScope }}" data-scope="{{ javascriptScope }}">
	<div class="container">
		<header id="header">
			<h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>

			<nav>
				<ul>
					<li><a href="{{ url('news') }}" {% if craft.request.firstSegment == 'news' %}class="active"{% endif %}>News</a></li>
				</ul>
			</nav>
		</header>

		<main id="content" role="main">
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</main>

		<footer id="footer">
			Copyright {{ now.year }} {{ craft.request.serverName | ucfirst }}. All rights reserved  •  Built with <a href="http://craftcms.com">Craft</a>
		</footer>
	</div>
  {% include '_layouts/scripts' %}
</body>
</html>
